{% extends 'base.html' %}
{% block content %}

    {% if id and table in [ 'patient', 'consultation'] %}
    <form id="dynamicForm">
    {% elif id and table in ['user', 'drugstore', 'appointment'] %}
    <form method="post" action="{{ url_for( table + '.update')  }}/{{ id }}">
    {% else %}
    <form method="post" action="{{ url_for( table + '.create') }}">
        {% endif %}
        <table class="table">
            <tbody>
                {% for key, value in rows %}
                {% if key == 'Patient' %}
                <tr class="clickable-row" data-href="{{ url_for('patient.update') }}/{{ value[0] }}">
                    <td class="col-md-1">{{ key }}</td>
                    <td>{{ ' '.join(value[1:]) }}</td>
                </tr>
                    {% else %}
                <tr>
                    <td class="col-md-1">{{ key }}</td>
                    <td>{{ value | safe }}</td>
                </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if (table in ['user', 'drugstore', 'appointment']) or (not id and table in ['patient']) %}
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mb-2" value="Soumettre">
        </div>
    </form>
    {% else %}
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('dynamicForm');
        const inputs = form.querySelectorAll('input, textarea, select');
        inputs.forEach(input => {
            input.addEventListener('blur', submitForm);
        });
    });

    function submitForm(event) {
        const form = document.getElementById('dynamicForm');
        const formData = new FormData(form);
        const xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ url_for( table + '.update')  }}/{{ id }}", true);
        xhr.send(formData);
    }
    </script>
    {% endif %}
    <br>

{% if table == 'patient' and id %}
{% set title="Résidence" %}
{% set popup="residency" %}
{% set table_headers=["Date", "Ville", "Nature hébergement", "Adresse", "Notes"] %}
{% set table_content=["date", "city", "accommodation", "address", "notes"] %}
{% set items=residencies %}
{% set form_action=url_for('residency.create') %}
{% set delete_action=url_for('residency.delete') %}
{% set name="patient" %}
{% set form_fields=[{"label": "Ville", "input": cities | safe}, {"label": "Nature Hébergement", "input": accommodations
| safe}, {"label": "Adresse", "input": '<input type="text" name="address" class="col-md-12">'}, {"label": "Notes", "input": '<input
    type="text" name="notes" class="col-md-12" >'}] %}
{% include 'section.html' %}

{% set title="Droits sociaux" %}
{% set popup="coverage" %}
{% set table_headers=["Date", "Droits sociaux", "Notes"] %}
{% set table_content=["date", "current", "notes"] %}
{% set items=coverages %}
{% set form_action=url_for('coverage.create') %}
{% set delete_action=url_for('coverage.delete') %}
{% set name="patient" %}
{% set form_fields=[
    {"label": "Couverture", "input": '<select name="current" class="col-md-12">
    <option disabled selected value="default">Sélectionner</option>
    <option value="oui">Oui</option>
    <option value="non">Non</option>
    <option value="inprogress">En cours</option></select>'}, 
    {"label": "Notes", "input": '<input type="text" name="notes" class="col-md-12">'}] %}
{% include 'section.html' %}


<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="p-2">
            <p>
            <h4>Consultations</h4>
            </p>
        </div>
        {% if user.role in [1,6] %}
        <div class="p-2">
            <p>
            <form method="post" action="{{ url_for('consultation.update')  }}">
                <input type="number" name="patient" value="{{ id }}" hidden>
                <input type="number" name="healer" value="{{ user.id }}" hidden>
                <input type="text" name="date" id="currentDate" hidden>
                <input type="text" name="motive" hidden>
                <input type="text" name="notes" hidden>
                <input type="submit" class="btn btn-primary mb-2" value="Ajouter">
            </form>
            </p>
        </div>
        {% endif %}
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">Date</th>
            <th>Soignant</th>
            <th>Motif</th>
        </tr>
    <tbody>
        {% for consultation in consultations %}
        {% if user.role in [1,6] %}
        <tr class="clickable-row" data-href="{{ url_for('consultation.update') }}/{{consultation.id}}">
        {% else %}
        <tr>
        {% endif %}
            <td class="col-md-1 date">{{ consultation.date }}</td>
            <td class="user">{{ consultation.healer }}</td>
            <td>{{ consultation.motive }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="p-2">
            <p>
            <h4>Assistance sociale</h4>
            </p>
        </div>
        {% if user.role in [4] %}
        <div class="p-2">
            <p>
            <form method="post" action="{{ url_for('appointment.update')  }}">
                <input type="number" name="patient" value="{{ id }}" hidden>
                <input type="number" name="healer" value="{{ user.id }}" hidden>
                <input type="text" name="date" id="currentDate" hidden>
                <input type="text" name="motive" hidden>
                <input type="text" name="notes" hidden>
                <input type="submit" class="btn btn-primary mb-2" value="Ajouter">
            </form>
            </p>
        </div>
        {% endif %}
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">Date</th>
            <th>Assistant.e</th>
            <th>Motif</th>
        </tr>
    <tbody>
        {% for appointment in appointments %}
        {% if user.role in [4] %}
        <tr class="clickable-row" data-href="{{ url_for('appointment.update') }}/{{appointment.id}}">
        {% else %}
        <tr>
        {% endif %}
            <td class="col-md-1 date">{{ appointment.date }}</td>
            <td class="user">{{ appointment.healer }}</td>
            <td>{{ appointment.motive }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if table == 'consultation' and id %}
{% set title="Prescription médicaments" %}
{% set popup="prescription" %}
{% set print_url=url_for('consultation.print_prescriptions', consultation_id=id) %}
{% set table_headers=["Date", "Médicament", "Quantité", "Posologie", "Notes", "Remis"] %}
{% set table_content=["date", "drugstore", "qty", "posology", "notes", "given"] %}
{% set items=prescriptions %}
{% set form_action=url_for('prescription.create') %}
{% set delete_action=url_for('prescription.delete') %}
{% set name="consultation" %}
{% set form_fields=[{"label": "Médicament", "input": drugstore | safe}, 
                    {"label": "Quantité", "input": '<input type="number" name="qty" min="1" max="100">'},
                    {"label": "Notes", "input": '<input type="text" name="notes" class="col-md-12">'},
                    {"label": "Posologie", "input": '<input type="text" name="posology" class="col-md-12">'},
                    {"label": "Remis", "input": '<input type="checkbox" name="given">'}] %}
{% include 'section.html' %}

{% set title="Orientations" %}
{% set popup="orientations" %}
{% set print_url=false %}
{% set print_items=true %}
{% set table_headers=["Date", "Spécialiste", "Notes"] %}
{% set table_content=["date", "specialist", "notes"] %}
{% set items=orientations %}
{% set form_action=url_for('orientation.create') %}
{% set delete_action=url_for('orientation.delete') %}
{% set name="consultation" %}
{% set form_fields=[{"label": "Spécialiste", "input": specialists | safe}, 
{"label": "Notes", "input": '<textarea rows="4" name="notes" class="col-md-12"></textarea>'}] %}
{% include 'section.html' %}
{% endif %}

<script>
    let currentDate = new Date();
    let formattedDate = currentDate.getFullYear() + "-" + (currentDate.getMonth() + 1).toString().padStart(2, '0') + "-" + currentDate.getDate().toString().padStart(2, '0');
    document.querySelectorAll('#currentDate').forEach(element => {
        element.value = formattedDate;
    });

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', (e) => {
                form.querySelectorAll('select[required]').forEach(select => {
                    if (select.value === "default") {
                        e.preventDefault();
                        select.focus();
                        alert('Veuillez sélectionner ' + select.name);
                    }
                });
            });
        });
    });

</script>

{% endblock %}
