{% extends 'base.html' %}
{% block content %}

    {% if id and table in [ 'patient', 'consultation'] %}
    <form id="dynamicForm">
    {% elif id and table in ['user', 'drugstore', 'appointment'] %}
    <form method="post" action="{{ url_for( table + '.update')  }}/{{ id }}">
    {% else %}
    <form method="post" action="{{ url_for( table + '.create') }}">
        {% endif %}
        <table class="table">
            <tbody>
                {% for key, value in rows %}
                {% if key == 'Patient' %}
                <tr class="clickable-row" data-href="{{ url_for('patient.update') }}/{{ value[0] }}">
                    <td class="col-md-1">{{ key }}</td>
                    <td>{{ ' '.join(value[1:]) }}</td>
                </tr>
                    {% else %}
                <tr>
                    <td class="col-md-1">{{ key }}</td>
                    <td>{{ value | safe }}</td>
                </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if (table in ['user', 'drugstore', 'appointment']) or (not id and table in ['patient']) %}
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mb-2" value="Soumettre">
        </div>
    </form>
    {% else %}
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('dynamicForm');
        const inputs = form.querySelectorAll('input, textarea, select');
        inputs.forEach(input => {
            input.addEventListener('blur', submitForm);
        });
    });

    function submitForm(event) {
        const form = document.getElementById('dynamicForm');
        const formData = new FormData(form);
        const xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ url_for( table + '.update')  }}/{{ id }}", true);
        xhr.send(formData);
    }
    </script>
    {% endif %}
    <br>


{% for section in sections %}
{% include 'section.html' %}
{% endfor %}
{% if id and table == 'patient' %}
<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="p-2">
            <p>
            <h4>Consultations</h4>
            </p>
        </div>
        {% if user.can_create('consultation') %}
        <div class="p-2">
            <p>
            <form method="post" action="{{ url_for('consultation.update')  }}">
                <input type="number" name="patient" value="{{ id }}" hidden>
                <input type="number" name="healer" value="{{ user.id }}" hidden>
                <input type="text" name="date" id="currentDate" hidden>
                <input type="text" name="motive" hidden>
                <input type="text" name="notes" hidden>
                <input type="submit" class="btn btn-primary mb-2" value="Ajouter">
            </form>
            </p>
        </div>
        {% endif %}
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">Date</th>
            <th>Soignant</th>
            <th>Motif</th>
        </tr>
    <tbody>
        {% for consultation in consultations %}
        {% if user.can_create('consultation') %}
        <tr class="clickable-row" data-href="{{ url_for('consultation.update') }}/{{consultation.id}}">
        {% else %}
        <tr>
        {% endif %}
            <td class="col-md-1 date">{{ consultation.date }}</td>
            <td class="user">{{ consultation.healer }}</td>
            <td>{{ consultation.motive }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script>
    let currentDate = new Date();
    let formattedDate = currentDate.getFullYear() + "-" + (currentDate.getMonth() + 1).toString().padStart(2, '0') + "-" + currentDate.getDate().toString().padStart(2, '0');
    document.querySelectorAll('#currentDate').forEach(element => {
        element.value = formattedDate;
    });

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', (e) => {
                form.querySelectorAll('select[required]').forEach(select => {
                    if (select.value === "default") {
                        e.preventDefault();
                        select.focus();
                        alert('Veuillez sélectionner ' + select.name);
                    }
                });
            });
        });
    });

</script>

{% endblock %}
