<!DOCTYPE html>
<html>
<head>
    <title>Prescriptions</title>
    <style>
        .content {
            margin-top: 200px;
            margin-left: 50;
        }
    </style>
</head>
<body>

    <div class="content">
    <table class="table table-striped table-bordered mt-3">
        <tbody>
            <tr><td class="text-end">
            <h4>Le {{ today }}</h4>
            <h4>{{ patient }}<br/>{{ birth }}</h4>
            </td></tr>
            {% for item in items %}
            {% for line in item.split('\n') %}
            <tr><td>{{ line }}</td></tr>
            {% endfor %}
            <tr><td><br></td></tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
